/* colors - see style guide for docs. 
Clearly there is more you could place in variables, up to you if you want to use them. My answer does not go beyond colors to keep the code easier to read. */

:root {
  --color1: #001219;
  --color2: #005f73;
  --color3: #3d9397;
  --color4: #94d28d;
  --color5: #e9d8a6;
  --color6: #ee9800;
  --color7: #ca6702;
  --color8: #bb3e03;
  --color9: #ae2012;
  --color10: #9b2226;
}

/* generic site styles */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #dbe5de;
  padding: 0;
  margin: 0;
}

section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 0.3rem;
}

section h2 {
  font-size: 2.5rem;
}

section ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* figure styles */
figure img {
  width: 100%;
  margin-bottom: -4px;
  margin-right: 1px;
  object-fit: cover;
}

figure {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: 0.5rem;
  overflow: hidden;
  border-radius: 8px;
  max-height: 350px;
}

figure:nth-of-type(even) {
  border: 8px solid black;
}

figcaption {
  background-color: var(--color5);
  opacity: 0.8;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0.4rem 1rem 0.6rem 1rem;
}

figcaption a {
  color: var(--color1);
  font-size: 2rem;
  text-decoration: none;
  padding: 0;
}

/* borders */
.border-orange {
  border: 8px solid var(--color7);
}
.border-red {
  border: 8px solid var(--color9);
}

.border-green {
  border: 8px solid var(--color4);
}
.border-lgt-blue {
  border: 8px solid var(--color3);
}
.border-dk-blue {
  border: 8px solid var(--color2);
}
/* Initial mobile layout: a series of images stacked on top of each other with the figure caption over the image. */

/* At this breakpoint, transition to 2 figures per line */

@media (min-width: 550px) {
  section ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
    justify-content: space-between;
    width: 100%;
  }
  ul li {
    flex-basis: 49%;
  }
}

/* At this breakpoint, transition to 3 figures per line */

@media (min-width: 800px) {
  ul li {
    flex-basis: 32%;
    margin-bottom: 0rem;
  }
  section h2 {
    margin-left: 100px;
  }
}
